* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.container {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	max-width: 600px;
    text-align: center;
    background-color: #5c5ff596;
    box-shadow: 29px 33px 23px -29px rgba(0,0,0,0.67);
    border-radius: 20%;

}

h1 {
	padding: 20px;
	margin-bottom: 20px;
	font-size: 36px;
}

.search {
	padding: 20px;
	margin-bottom: 30px;
	align-items: center;
	.search-input {
		padding: 5px 40px;
		border: none;
        box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
        &:focus {
            border: 2px solid grey !important;
            outline: none !important;
            outline-offset: 0;
        }
	}
}

.list-container {
	border: 3px solid rgba($color: #f4f4f4, $alpha: .50);
	margin: 20px auto 40px auto;
	padding: 100px;
	.list {
		list-style: none;

		.list-item {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr ;
            gap: .2em;

			margin: 20px auto;
			width: 250px;

			.text {
				text-align: left;
			}
		}
	}
}

.add {
    padding: 50px;
	margin-bottom: 30px;
    align-items: center;
    
    .add-input {
        padding: 10px 80px;
		border: none;
        box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
        
        &:focus {
            border: 2px solid grey !important;
            outline: none !important;
            outline-offset: 0;
        }
    }
}

.btn {
    display: inline-block;
    padding: 10px;
    margin-left:5px;
    border-radius: 20%;
    border: none;
    background-color: white;
    box-shadow: none;
    transition: all 500ms ease;

    &:hover {
        background-color: darkgray;
        color: white;
        padding: 15px;
        box-shadow: -35px -31px 23px -29px rgba(0,0,0,0.67);
    }
}

.invisible {
    display: none;
}
